.desk-cart {
  margin-top: -20px;
  cursor: pointer;
  z-index: 100;
  background-color: #ffffff;
  border-radius: 100em;
  border: 1px solid #bdbdbd;
  @include x-small {
    display: none;
    right: 2%;
  }
  .icon {
    width: 65px;
    height: 65px;
    z-index: 100;
    padding-top: 22px;
    padding-left: 12px;
    border-radius: 100em;
    position: relative;
    @include x-small {
      width: 50px;
      height: 50px;
      padding: 16px 15px;
    }
    i {
      display: block;
      font-size: 30px;
      z-index: 500;
      @include x-small {
        font-size: 30px;
      }
    }
    .num {
      background-color: red;
      color: #ffffff;
      padding: 1px 6px;
      border-radius: 99em;
      position: absolute;
      top: 7px;
      right: 10px;
      font-size: 6px;
      @include x-small {
        font-size: 8px;
        padding: 3px 8px;
        padding: 1px 6px;
        top: 5px;
        right: 2px;
      }
      span {
        font-family: "微軟正黑體";
        font-weight: bolder;
      }
    }
  }
}

.mobile-cart {
  display: none;
  cursor: pointer;
  z-index: 100;
  @include x-small {
    display: block;
    right: 2%;
  }
  .icon {
    width: 65px;
    height: 65px;
    z-index: 100;
    padding-top: 13px;
    padding-left: 12px;
    border-radius: 100em;
    position: relative;
    @include x-small {
      width: 50px;
      height: 50px;
      padding: 16px 15px;
    }
    i {
      display: block;
      font-size: 30px;
      z-index: 500;
      @include x-small {
        font-size: 30px;
      }
    }
    .num {
      background-color: red;
      color: #ffffff;
      padding: 1px 6px;
      border-radius: 99em;
      position: absolute;
      top: 6px;
      right: 10px;
      font-size: 6px;
      @include x-small {
        font-size: 8px;
        padding: 3px 8px;
        padding: 1px 6px;
        top: 5px;
        right: 2px;
      }
      span {
        font-family: "微軟正黑體";
        font-weight: bolder;
      }
    }
  }
}

.desk-modal {
  h4 {
    margin-left: 42%;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
