.subtitle {
  margin: 80px 0 0 10px;
  font-weight: bolder;
}
.btn {
  margin-top: 30px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
}

.product-card {
  margin-bottom: 50px;
  @include large {
    margin-bottom: 5px;
  }
  .picture {
    height: 60vh;
    border-radius: 5px;
    margin: 0 15px 0 15px;
    img {
      width: 100%;
      height: 60vh;
      object-fit: cover; // 填滿容器
      object-position: 50% 10%;
      @include large {
        height: 35vh;
      }
    }
  }
  h3 {
    margin: 20px 0 30px 0;
  }
  p {
    font-size: 18px;
  }
  .card {
    margin: 0 15px 0 0;
  }
  .price {
    margin: 20px 2px 30px 0;
    span {
      font-weight: bold;
    }
  }
}

.info {
  width: 470px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    margin-bottom: 20px;
    h4 {
      margin: 80px 0 0 10px;
      font-weight: bolder;
      @include large {
        margin-top: 5px;
      }
    }
    span {
      color: #bdbdbd;
    }
  }
  p {
    line-height: 36px;
  }
}
.same-card {
  margin: 30px 0 100px 0;
  .tab {
    padding: 3px 15px;
    background-color: red;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 5px;
    span {
      color: #ffffff;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 6px 6px 6px #757575;
  }
}

.cart {
  font-size: 30px;
  vertical-align: middle;
  p {
    text-align: right;
    letter-spacing: 1px;
  }
}

.banner {
  img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: 50% 75%;
    border-radius: 5px;
    opacity: 0.9;
  }
  .text-box {
    position: absolute;
    margin: 0;
    top: 30%;
    left: 46%;
    transform: translate(-38%, -46%);
    width: calc(100% - 70%);
    height: calc(100% - 80%);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-radius: 10px;
    @include large {
      width: calc(100% - 50%);
      height: calc(100% - 80%);
    }
    @include x-small {
      width: calc(100% - 40%);
      height: calc(100% - 85%);
    }
    h1 {
      font-weight: bold;
      letter-spacing: 3px;
      font-size: 60px;
      color: #ffffff;
      line-height: 150px;
      text-align: center;
      @include large {
        font-size: 60px;
        line-height: 280px;
      }
      @include medium {
        font-size: 60px;
        line-height: 200px;
      }
      @include x-small {
        font-size: 36px;
        line-height: 120px;
      }
    }
  }
}
