.subtitle {
  margin: 80px 0 0 10px;
  font-weight: bolder;
}
.title {
  font-weight: bold;
}

.detail-card {
  margin-bottom: 50px;
  @include large {
    margin-bottom: 5px;
  }
  .picture {
    height: 60vh;
    border-radius: 5px;
    margin: 0 15px 0 15px;
    img {
      width: 100%;
      height: 60vh;
      object-fit: cover; // 填滿容器
      object-position: 50% 10%;
      @include large {
        height: 35vh;
      }
      @include x-small {
        height: auto;
      }
    }
  }
  .card {
    margin: 0 15px 0 0;
    @include x-small {
      margin: -120px 15px 0 15px;
    }
  }
  h3 {
    margin: 20px 0 30px 0;
  }
  p {
    font-size: 18px;
  }
  .price {
    margin: 20px 2px 30px 0;
    span {
      font-weight: bold;
    }
  }
  .text {
    font-size: 16px;
    margin-top: 10px;
    @include x-small {
      margin-left: 15px;
    }
  }
  .btn {
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.info {
  width: 475px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include x-small {
    width: 100%;
    margin-top: 80px;
  }
  .title {
    text-align: center;
    margin-bottom: 30px;
    h4 {
      margin: 80px 0 0 10px;
      font-weight: bolder;
      @include large {
        margin-top: 5px;
      }
    }
    span {
      color: #bdbdbd;
    }
  }
  p {
    font-size: 17.5px;
    line-height: 36px;
  }
}
.same-card {
  margin: 30px 0 100px 0;
  .tab {
    padding: 3px 15px;
    background-color: red;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 5px;
    span {
      color: #ffffff;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 6px 6px 6px #757575;
  }
}

.cart {
  font-size: 30px;
  vertical-align: middle;
  p {
    text-align: right;
    letter-spacing: 1px;
  }
}
