.products {
  .cart {
    font-size: 30px;
    vertical-align: middle;
    p {
      text-align: right;
      letter-spacing: 1px;
    }
  }
  .banner {
    img {
      width: 100%;
      height: 45vh;
      object-fit: cover;
      object-position: 50% 75%;
      border-radius: 5px;
    }
    .text-box {
      position: absolute;
      margin: 0;
      top: 30%;
      left: 46%;
      transform: translate(-38%, -46%);
      width: calc(100% - 70%);
      height: calc(100% - 80%);
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 1;
      border-radius: 10px;
      @include x-small {
        width: calc(100% - 50%);
        height: calc(100% - 80%);
      }
      h1 {
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 60px;
        color: #ffffff;
        line-height: 150px;
        text-align: center;
        @include x-small {
          font-size: 40px;
          line-height: 130px;
        }
      }
    }
  }
}
