.form {
  margin-bottom: 80px;
  .card {
    background-color: inherit;
  }
  .title {
    margin: 50px 0 20px 0;
    font-weight: bold;
  }
  i {
    margin-right: 5px;
  }
  label {
    font-size: 17px;
  }
  input {
    margin-bottom: 5px;
  }
  .btn {
    outline: none;
    box-shadow: none;
    margin-bottom: 30px;
  }
}
.modal-header {
  background-color: #bdbdbd;
  h5 {
    font-weight: bold;
  }
}
.modal-body {
  p {
    margin-top: 15px;
    font-size: 18px;
  }
}
